.row
  .col-md-12
    %h2= @rental.name
    %p= published_since(@rental.published_at)

    %p
      %strong= @rental.headline.en
    %p
      %small= "Reviews: #{@rental.reviews_count}"

    -if @rental.summary.present?
      %h3 Summary
      %p= @rental.summary.en

    -if @rental.description.present?
      %h3 Description
      %p= @rental.description.en

.row
  .col-md-4
    = link_to 'Update Rental', edit_rental_path(@rental), class: 'btn btn-warning'
    = link_to 'Remove', @rental, method: :delete, class: 'btn btn-success btn-delete', data: { confirm: 'Are you sure?' }
